<p id="notice"><%= notice %></p>

<table class="table">

  <thead>
	  <tr>
	    <th>Company</th>
	  </tr>
  </thead>

  <tbody>
	  <tr>
	    <td> <%= @employee.company.name %> </td>
	  </tr>
  </tbody>

</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
