<table class="table">

  <thead>
  <tr>
    <th>Companies</th>
	  <th>Employees</th>
  </tr>
  </thead>

  <tbody>
  <% @company.each do |company| %>
		<tr>

      <td><%=link_to(company.name, company) %></td>


		  <% @employee.each do |employee| %>
		    <td><%= employee.name %> </td>
		  <%end%>
		  </tr>
  <%end%>
  </tbody>

</table>
