<table class="table">

  <thead>
  <tr>
    <th>Companies</th>
	  <th>Employees</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <% @company.each do |company| %>
      <td><%= company.name %></td>
		  <%end%>

    <% @employee.each do |employee| %>
        <td><%= employee.name %></td>
		  <%end%>
  </tr>
  </tbody>

</table>
